<!DOCTYPE html>
<html>
  <head>
    <title>Handwritten Digit Recognizer App</title>

  </head>
  
  <body style="margin:0; background-color: #F2F2F2;" >
<div id = "header" style="height: 50px">
     <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="digitInputPage.html">Handwritten Digit Recognizer</a>
        </div>
      </div>
    </div>
    </div>
    
 
    <div id=container style="padding-left: 50px;overflow-x: hidden;">
      <p id="estimated">estimated = not yet</p>
		<div class="row">
  			<div class="col-md-6">
  				 <h3 id="number">Draw a Number between 0-9 </h3>
   				  <div class="canvas_area">
    				<canvas id="canvas"></canvas>
  				</div>
  				
  				<div>
  					<input id="clear" type="button" value="Clear" />
  					<input id="save" type="button" value="Predict" />
				</div>
  			</div>
  			
  			<div class="col-md-3" id="responseDiv" style="padding-top: 20px;">
  			<h4>Confusion Matrix</h4>
  			<div id="myDiv"></div>
  			</div>
  			
  			<div class="col-md-3" style="padding-top: 20px;">
  			<h4>Confusion Matrix</h4>
  				<div class="table-responsive" style="width: 250px;">          
      				<table class="table">
       				 <thead>
         				 <tr>
            				<th>Digits</th>
            				<th>Probability</th>
          				</tr>
        			</thead>
       				<tbody>
         	 			<tr>
            				<td>0</td>
            				<td> </td>
          				</tr>
          				<tr>
            				<td>1</td>
            				<td></td>
         				 </tr>
          				<tr>
            				<td>2</td>
            				<td></td>
          				</tr>
          				<tr>
           					<td>3</td>
            				<td></td>
          				</tr>
          				<tr>
            				<td>4</td>
            				<td></td>
          				</tr>
         				 <tr>
           					 <td>5</td>
            				<td></td>
          				</tr>
         				 <tr>
           					 <td>6</td>
            				 <td></td>
         				 </tr>
          				<tr>
            				<td>7</td>
            				<td></td>
          				</tr>
          				<tr>
            				<td>8</td>
            				<td></td>
          				</tr>
          				<tr>
            				<td>9</td>
            				<td></td>
         				 </tr>
        			</tbody>
      			</table>
     		 </div>
    		</div>
    		</div>
  			
 				 <!-- <div style="padding-bottom: 20px;padding-left: 170px;">
				 <div class="btn-group" style="padding-left:100px;">
				 	<form action="conversion" method="GET">
						<input type=hidden name=imgData id="save" value=imgData><input type="submit" value= "Predict" class="btn btn-default"/>
					</form> 
					<button type="button" id="save" class="btn btn-default">Predict</button>
					<button type="button" id="clear" class="btn btn-default">Clear</button>
				</div>
				</div> -->
  			</div>
  
  	<!--Footer--> 
  	<div id="footer">
		<div class="navbar navbar-default navbar-fixed-bottom">
     		<div class="container">
   			</div> <!-- container-->
   		</div> <!-- navbar navbar-default navbar-fixed-bottom" --> 
   	</div>
   		
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap.min.js"></script>
    <script src="static/main.js"></script>

  </body>
</html>